/* .navtree-container .k-treeview .k-item {
    outline-style: none;
    margin: 0;
    padding: 0 0 0 16px;
    border-width: 0;
    display: block;
    border: 1px solid #a9a9a9;
    background-color: #ededed;
    margin: 20px 0px;
  } */
/* 
.k-item>.k-item{
    background-color: red;
} */

.sidebar-flex .nav-directory{
  font-weight: bold;
}

/* .sidebar-flex {
  display: none;
} */