/* Layout Classes */
.container-flex {
  display: flex;
  flex-direction: row;
}

/* .sidebar-flex {
  flex-grow: 1;
  max-width: 300px;
} */

.content-flex {
  width: 100%;
  flex-grow: 3;
  margin: 0 auto;
  max-width: 960;
  padding: 2rem 5vw 1.45rem;
  flex-grow: 1;
}

.sidebar-flex {
    transition: 0.5s;
    overflow: hidden;
    width: 20vw;
    padding-top: 2rem;
    background-color: #f8f8f8;
}

@media only screen and (max-width: 1000px) {
  .sidebar-flex {
    position: absolute;
    background-color: white;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    opacity: 1;
  }
  .sidebar-flex.hide {
    width: 0px;
    opacity: 0;
  }
  .content-flex.hide{
    display: none;
  }
}
