.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  background-color: #ededed;
}

.nav-link:focus {
  color: inherit;
}

.nav {
  padding: 6px 2px;
}

@media only screen and (max-width: 760px) {
  .sidebar-flex {
    position: absolute;
    background-color: white;
    z-index: 1;
    height: 100vh;
  }
}
